MYSQLDB_USER=
MYSQLDB_DATABASE=
MYSQLDB_PASSWORD=
MYSQLDB_ROOT_PASSWORD=
MYSQLDB_LOCAL_PORT=
MYSQLDB_DOCKER_PORT=

SPRING_LOCAL_PORT=
SPRING_DOCKER_PORT=
DEBUG_PORT=

DROPBOX_ACCESS_TOKEN=
JWT_EXPIRATION=300000
JWT_SECRET=your_super_secret_jwt_key_here

GMAIL_USERNAME=
GMAIL_APP_PASSWORD=
